optimum-intel@git+https://github.com/huggingface/optimum-intel.git
fastapi
uvicorn
requests
pyav
num2words
openvino
--extra-index-url https://download.pytorch.org/whl/test/xpu
torch
torchvision
torchaudio

